<header class="site-header">

  <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu
                </button>
                <a class="navbar-brand" href="{{ "index.html " | prepend: site.mybaseurl }}">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ "choir.html " | prepend: site.mybaseurl }}">Choir</a>
                    </li>
                    <li>
                        <a href="{{ "orchestra.html " | prepend: site.mybaseurl }}">Orchestra</a>
                    </li>
                    <li>
                        <a href="{{ "concerts.html " | prepend: site.mybaseurl }}">Concerts</a>
                    </li>
                    <li>
                        <a class="tab-selected" href="{{ "/index.html " | prepend: site.baseurl }}">Blog</a>
                    </li>
                    <li>
                        <a href="{{ "contact.html " | prepend: site.mybaseurl }}">Contacts & location</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

</header>
